<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="LambdaManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="System;lib;"/> <!--not work after .NET 4.0-->
		</assemblyBinding>
	</runtime>
 <applicationSettings>
  <LambdaManager.Properties.Settings>
   <setting name="ExitIfLoadFatalError" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LogLevel" serializeAs="String">
    <value>INFO</value>
   </setting>
  </LambdaManager.Properties.Settings>
 </applicationSettings>
</configuration>